TELEGRAM_BOT_TOKEN=pon_aqui_el_token_de_botfather
TELEGRAM_ALLOWED_CHAT_ID=pon_aqui_tu_chat_id

GOOGLE_SHEET_ID=pon_aqui_el_id_de_la_sheet
GOOGLE_SHEET_NAME=Registros
GOOGLE_SERVICE_ACCOUNT_KEY=service-account.json
